nav>a {
    color: crimson;
    text-decoration: none;
}
blockquote {
    background-color: #eaeaea;
}
.users span {
    font-weight: bold;
}
.users span:nth-child(2){
    color: crimson;
}
a.link {
    text-decoration: none;
}
a.link:nth-child(odd) {
    font-family: 'Lato';
    text-decoration: none;
}
a.link:nth-child(even)  {
    font-family: 'PT Serif';
    font-weight: bold;
}
.cta h2{
    font-family: 'Lato';
    color: crimson;
}
ul :nth-child(odd) {
    text-decoration: underline;
}
nav>a:hover {
    text-decoration: underline;
}
